<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/b8018fe5-86a9-4e77-9962-145d72f92c1f/resourcegroups/Portfolio/providers/Microsoft.ContainerRegistry/registries/PortfolioData20240927155221</ResourceId>
    <ResourceName>PortfolioData20240927155221</ResourceName>
    <ResourceGroup>Portfolio</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>portfoliodata20240927155221.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>