@page
@model Portfolio.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";
}

<section class="about" id="about">
    <h2 class="section-heading">About Me</h2>
    <p>Hi there! I'm Tuya Narangerel, a passionate .NET developer with a strong background in web development, specializing in creating efficient and scalable applications using modern technologies like C#, ASP.NET Core, and JavaScript.</p>
    <p>With a keen eye for detail and a love for problem-solving, I enjoy tackling new challenges, whether it's debugging complex issues or learning the latest technologies. I believe in lifelong learning, teamwork, and making an impact through my work.</p>
    <p>Outside of coding, I spend my time exploring new ideas, reading, and working on creative projects that fuel my curiosity. I thrive on collaboration and am always up for a challenge that pushes me to grow and learn.</p>
</section>
